<table class="table table-striped" class="table mx-auto">
  <thead class="table-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Endereço</th>
      <th scope="col">Cep</th>
      <th scope="col">Cidade</th>
      <th scope="col">UF</th>
      <th scope="col">Contato</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas">
      <td>{{ pessoa.id }}</td>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.endereco }}</td>
      <td>{{ pessoa.cep }}</td>
      <td>{{ pessoa.cidade }}</td>
      <td>{{ pessoa.uf }}</td>
      <td>pessoa.contato</td>
      <td>
        <a class="btn btn-primary me-4" [routerLink]="['/editar-pessoa', pessoa.id]">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
        <button class="btn btn-danger" (click)="deletarPessoa(pessoa.id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
